<!-- PAGE TITLE -->
<header id="page-title">
    <div class="container">
        <h1>Áreas de atuação</h1>

    </div>
</header>

<section class="container">

    <article>
        <div><strong>ADVOCACIA CRIMINAL</strong>

            <div>Atuamos nas áreas federal e estadual nos crimes do colarinho branco, lavagem de dinheiro, evasão de divisas, estelionatos, crimes de informática, crimes contra propriedades, crimes de imprensa, acompanhamento junto às delegacias, inquéritos em andamentos e em Flagrantes delitos, Tribunal do Júri, recursos nos Tribunais Superiores e Extradição. Soares de Andrade foi um dos primeiro escritório brasileiro a criar uma área especializada em Direito Penal Empresarial. Ao longo desses anos, nossa prática diária foi se intensificando cada vez mais. Ora atuando como defensores de empresas e seus representantes, ora trabalhando no combate a fraudes corporativas.</div>
            <br>
            <strong>Entre as atividades da área Penal Empresarial, destacam-se:</strong>

            <div>Orientação e defesa de clientes em inquéritos policiais e/ou processos criminais decorrentes de acusações de sonegação fiscal, evasão de divisas, lavagem de dinheiro, acidentes de trabalho, crimes contra o meio ambiente, crimes contra a ordem econômica, crime contra as relações de consumo, crime contra a honra, crime de violação de direito autoral e de marcas e patentes, crime de concorrência desleal;</div>
            &nbsp;

            <div>Orientação e defesa dos interesses dos clientes vítimas de fraudes corporativas praticadas por terceiros ou funcionários com a adoção de medidas legais cabíveis na esfera policial e/ou judicial para a punição dos responsáveis.</div>
            <br>
            <strong>DIREITO DE FAMÍLIA</strong>

            <div>Separação consensual e litigiosa, divórcio, investigação de paternidade, alimentos e partilha.</div>
            <br>
            <strong>ÓRFÃOS E SUCESSÕES</strong>

            <div>Inventários e arrolamentos.</div>
            <br>
            <strong>HOMOLOGAÇÃO</strong>

            <div>Execução de sentenças estrangeiras e laudos arbitrais.</div>
            <br>
            <strong>RESPONSABILIDADE CIVIL</strong>

            <div>Por ilícito ou por erro profissional.</div>
            <br>
            <strong>CARTAS PRECATÓRIA E ROGATÓRIA</strong>

            <div>Acompanhamos cartas precatória e rogatória em qualquer comarca do Estado do Rio de Janeiro.</div>
            <br>
            <strong>DIREITO DO TRABALHO</strong>

            <div>Defesa trabalhista, reclamatória e recursos.</div>
        </div>
    </article>
</section>