<!-- PAGE TITLE -->
<header id="page-title">
    <div class="container">
        <h1>Equipe</h1>

    </div>
</header>

<section class="container">

    <div class="white-row">
        <h3>Dra. Maria Rita Soares de Andrade (in memorian)</h3>
        <p>Formou-se em Direito na Faculdade Federal da Bahia, em 1929. Após um ano de formada, fundou o até hoje
            conceituado escritório de advocacia Soares de Andrade, no ano de 1930. A Dra. Maria Rita marcou história no
            Poder Judiciário Brasileiro por ter sido a primeira mulher a integrar o Conselho Federal da Ordem dos
            Advogados dp Brasil, assim como também foi a pioneira ao ingressar na Magistatura Federal, sendo a Primeira
            Juíza Federal do Estado da Guanabara, empossada no ano de 1967, até aposentar-se compulsoriamente no ano de
            1974.</p>
    </div>
    <div class="white-row">
        <h3>
            Dr. José Pinto Soares De Andrade
        </h3>
        <p>Inscrito na Ordem dos advogados do Brasil desde 1983, é um soteropolitano, nascido em 05 de julho de 1957.
            Graduado pela Faculdade Brasileira de Ciências Jurídicas no Rio de Janeiro, em 1981, é pós-graduado em
            Direito civil e Processo civil. Possui também vários cursos de extensão, tanto no Brasil como no exterior
            (França e E.U.A.). No início de seu curso de Direito, foi eleito representante de turma e diretor do Centro
            Acadêmico FILADELFO AZEVEDO, quebrando uma tradição dos alunos do quarto e quinto ano.</p>
        <p>Ali desenvolveu acentuada atividade político-acadêmica, contando com a presença dos mais notáveis na área
            jurídica, como o Prof. ROBERTO LIRA, Drs. EVANDRO LINS E SILVA, SOBRAL PINTO, ÁLVARO MAYRINK, HÉLIO SABOYA,
            LAÉRCIO PELEGRINO, entre muitos outros.</p>
        <p>Atualmente, Dr. José Pinto é Conselheiro e PRESIDENTE da Comissão de Direitos da Criança e Adolescente da
            Ordem dos Advogados do Brasil (OAB/RJ), auditor do Tribunal de Justiça Desportiva e membro do Instituto dos
            Advogados do Brasil.</p>
    </div>
    <div class="white-row">
        <h3>Dra. Carina Barbosa Gouvea</h3>
        <p>Advogada especialista em Direito Militar; Doutoranda em Direito pela UNESA – Bolsista CAPES; Mestre em
            Direito pela UNESA; Pesquisadora Acadêmica do Grupo "Novas Perspectivas em Jurisdição Constitucional";
            Professora da Pós Graduação em Direito Militar; Professora de Direito Constitucional, Direito Eleitoral e
            Internacional Penal; Pós Graduada em Direito do Estado e em Direito Militar, com MBA Executivo Empresarial
            em Gestão Pública e Responsabilidade Fiscal.</p>
    </div>
    <div class="white-row">
        <h3>Dra. Lany Gabriela Pereira Borges</h3>
        <p>Formou-se em 2004 pela Universidade Estácio de Sá (UNESA), MBA em Direito Público e MBA em Direito e Gestão
            da Segurança Pública pela Universidade Gama Filho. Drª Lany trabalha com advocacia cível geral,
            especialmente Imóveis e Contratos, mas também Consumidor e outras áreas do direito civil. Tem larga
            experiência na área da Administração Pública (Direito Administrativo e Constitucional - Remédios
            Constitucionais: Mandados de Segurança, Habbeas Data, etc), Desapropriação, Concursos, e outros, também com
            Direito Eleitoral e Tributário. Prestou consultoria jurídica para personagens da política brasileira.
            Trabalhou por mais de dez anos na área acadêmica com elaboração, conferência e correção de textos e slides
            para professores e palestrantes, montagem de apostilas e material de apoio, criação de curso prático
            preparatório para a magistratura federal, seleção do corpo docente.</p>
    </div>
    <div class="white-row">
        <h3>Dra. Caroline Bispo</h3>
        <p>Advogada trabalhista, e membro da Comissão de Direito da Criança e Adolescente (CDCA), Comissão da Igualdade
            Racial (CIR) e da OAB mulher.</p>
    </div>
    <div class="white-row">
        <h3>Dr. José da Silva Felisberto</h3>
        <p>Nasceu em Itaperuana, norte do estado do Rio de Janeiro, Formou-se em Direito pela SUAMem 2004, sendo um dos
            alunos mais dedicados da turma. Como despachante e corretor de imóveis, atua no mercado imobiliário na
            administração e legalização de imovéis, à mais de 15 anos. Possui o curso de pós-graduação em direito
            público pela Universidade Estácio de Sá. Possui ainda vários cursos: direito imobiliário; código de defesa
            do consumidor; juizados especiais; reforma da previdência; diretio de família e o no código civil.</p>
    </div>
</section>