<!-- PAGE TITLE -->
<header id="page-title">
    <div class="container">
        <h1>Fundadora do escritório</h1>
    </div>
</header>

<section class="container">

    <div class="white-row">
        <h3><strong>Maria Rita Soares de Andrade</strong></h3>
        <p>Natural de Aracaju, filha de José Soares de Andrade e Filomena Soares de Andrade. Fez o curso primário no
            Grupo Escolar “General Siqueira de Meneses”, onde foi colega de Leyda Regis, outra figura marcante da
            cultura sergipana. Fez o Curso Secundário no Atheneu Pedro II (atual Atheneu Sergipense), onde foi excelente
            aluna, como afirma sua colega de curso, outro destaque do magistério sergipano, Marieta Teles de
            Meneses.</p>
        <p>Visitei a Dra. Maria Rita em sua residência, no bairro Santa Teresa, no Rio de Janeiro. Telefonei-lhe antes,
            pedindo uma entrevista e, sem mesmo me conhecer, convidou-me para almoçar, no sábado, em sua companhia. O
            casarão estava repleto de visitas: parentes, amigos que costumam espairecer, usufruindo da companhia, da
            prosa deleitante da anfitriã. Passamos o dia conversando, interrogando-a sobre a sua vida profissional, sua
            luta para estudar e a Campanha Feminista da qual participou ativamente ao lado das doutoras Bertha Lutz,
            Carmem Portinho, no Rio e Cezartina Regis, em Sergipe. De entrevistadora, passei também a ser entrevistada,
            pois a Dra. Maria Rita estava interessada em saber tudo sobre o movimento cultural sergipano.</p>
    </div>
    <div class="white-row">
        <h3><strong>Maria Rita</strong> – A Estudante de Direito</h3>
        <p>Contou-me que, após ser aprovada no Exame de Madureza, foi estudar em Salvador, isto em 1923. Três anos antes
            de se formar começou a exercer a advocacia, tendo conseguido, para esse fim, “provisão”, tanto em Sergipe
            como na Bahia. Em Sergipe trabalhou com os doutores Leonardo Leite e Oscar Prata e, na Bahia, com Ernesto
            Paiva e Gerson Faria. Considera este fato muito gratificante, por dois motivos: adquiriu muita prática
            profissional, antes mesmo de se formar e, segundo, pôde manter os estudos na faculdade.</p>
    </div>
    <div class="white-row">
        <h3><strong>Maria Rita</strong> – A Advogada</h3>
        <p>Formada em 1929, exerceu a profissão aqui em Sergipe, mudando-se, posteriormente (década de 30), para o Rio
            de Janeiro, onde se radicou. Perguntada sobre o que mais lhe gratificou como advogada, respondeu: “Conseguir
            neutralizar as perseguições políticas. Tanto que hoje atuo neste ramo”. Disse que as causas mais
            interessantes ocorreram no Exército e no Clube da Aeronáutica: “Uma delas foi a defesa do Coronel Antônio
            Carlos de Andrade Serpa, perseguido pelo Marechal Lott. Impetrei, também, vários mandados de segurança e
            “habeas corpus”.</p>
        <p>Sobre o rumoroso caso do Dr. Carlos Firpo, assim se expressou: “Defendi o Sr. Nicola Mandarino porque sabia
            ser ele um chefe de família exemplar. Nunca acreditei que ele tivesse culpa no assassinato do Dr. Carlos
            Firpo. E, felizmente, tivemos sorte”...</p>
    </div>
    <div class="white-row">
        <h3><strong>Maria Rita</strong> – A Juíza Federal </h3>
        <p>“O cargo de Juíza Federal me veio como consequência da minha atuação na advocacia”.Como Juíza Federal foi
            encarregada de sindicar possível corrupção do Governo de Juscelino Kubitschek, no advento da Revolução de
            1964, tendo a coragem e a honestidade de, no seu relatório, dizer nada haver encontrado que o denunciasse
            como corruptor. Quem construiu uma cidade como Brasília, levando material de avião, não pode ter
            roubado.</p>
    </div>
    <div class="white-row">
        <h3><strong>Maria Rita</strong> – A Líder Feminista</h3>
        <p>“Convivi com a Dra. Bertha Lutz, fundadora da Federação Brasileira para o Progresso Feminino, em 1922, quando
            retornou do Congresso Feminino, nos Estados Unidos, em 1922. Naquele tempo tudo era muito fechado à mulher.
            Convivi também com a Dra. Carmem Portinho, engenheira da Prefeitura do Rio de Janeiro, que fundou a União
            Universitária, em 1929. Foi Carmem Portinho quem me incentivou a fundar uma secção da Federação para o
            Progresso Feminino, em Sergipe. Procurei Cezartina Regis, uma figura exponencial nos meios sociais de
            Sergipe. Ela se impunha não apenas como farmacêutica, mas em vários campos da cultura sergipana. Trabalhamos
            juntas. O movimento iniciante contava com poucas e tímidas adesões em Sergipe, que sempre foi refratário às
            reuniões! Lembro-me que até mesmo os membros da Ordem dos Advogados não se reuniam, oficialmente.
            Encontrávamos-nos nos cartórios, nos cafés ou conversávamos pelo telefone. Por isso, não houve movimento
            congregado, feminista. Cezartina era a alma da Federação. Mesmo assim, conseguimos lançar o nome da
            professora Quintina Diniz à deputada estadual pelo PSD. São Paulo elegeu Carlota Queiroz, líder da
            restauração da democracia. Ela era “pombo-correio” dos líderes democratas paulistas. Bertha Lutz foi a
            responsável pelo direito feminino ao voto, através da Federação. Antes mesmo de 1934 Bertha Lutz conseguiu
            com o Dr. Lafayete participação da mulher nas eleições de 1929, no Rio Grande Norte. O Dr. José Augusto
            Medeiros foi eleito com o voto feminino.</p>
        <p>Interrogada por que a mulher não progrediu muito na política, afirmou: “Isto é uma consequência do progresso
            profissional. De modo geral, a mulher gosta da estabilidade. Realizada profissionalmente, seu futuro está
            assegurado e os cargos políticos são instáveis. E mais, a mulher não toma o partido da mulher. Não tem
            espírito de grupo, como legítima defesa. Se o tivesse, apoiaria as candidatas a cargos políticos,
            independente dos partidos”.</p>
    </div>
    <div class="white-row">
        <h3><strong>Maria Rita</strong> – A Redatora </h3>
        <p>Lançou em Sergipe a Revista Renovação.
            Para que se conheça mais da vida desta mulher extraordinária transcrevemos artigos publicados pelo Jornal do
            Brasil de 06/05/1977 e de 09/04/1984 e do jornal A Tarde.
            Advogada diz que Itamarati impede acesso da mulher ao posto máximo da carreira</p>
        <p>“Eu gostaria, antes de morrer, de ver uma mulher no Supremo Tribunal Federal”. Esse desejo foi anunciado pela
            advogada Maria Rita Soares de Andrade, de 73 anos, perante a Comissão Parlamentar de Inquérito do Senado,
            encarregada de investigar a discriminação existente contra a mulher no Brasil.
            A advogada reclamou uma maior participação feminina nos postos-chaves da política brasileira, criticando
            especificamente o Itamarati pela discriminação que o órgão vem praticando contra as mulheres, impedidas de
            atingirem o ápice da carreira diplomática.</p>
    </div>
    <div class="white-row">
        <h3>SACRIFÍCIO E RENÚNCIA</h3>
        <p>A Sra. Maria Rita Soares iniciou seu depoimento assinalando, com bom-humor, que a CPI estava “transgredindo”
            a Constituição, pois pela lei qualquer pessoa com mais de 70 anos de idade é considerada incapaz, E, em
            seguida, passou a fazer um histórico das conquistas da mulher brasileira através dos tempos. A primeira vez
            que uma mulher obteve um título de eleitor foi em 1885, em Porto Alegre, e a segunda em 1917, mas ambas “não
            conseguiram nem votar nem serem votadas”. A primeira parlamentar foi a médica Carlota Pereira de Queiroz, na
            Constituinte de 1934, e a primeira prefeita foi a Sra. Alzira Soreano. Lembrou as lutas da líder feminista
            Bertha Lutz, ressaltando que “nada foi dado até hoje à mulher de mão-beijada. Cada conquista significou uma
            batalha”.</p>
        <p>A derrogação do Artigo 6º do Código Civil, que fazia da mulher casada “relativamente incapaz”, as prisões
            femininas e o direito ao voto foram exemplos de conquistas citados pela advogada.
            Ela destacou também a atuação feminina nos movimentos e nas lutas da história brasileira, relembrando a
            figura de Carlota Pereira Queiroz no movimento paulista de 1932.</p>
        <p>– Durante os movimentos, quando tudo é sacrifício, renúncia, os homens compreendem que sem as mulheres não
            conseguem nada. Depois, eles se esquecem disto – comentou.
            A Sra. Maria Rita recordou ainda que, na única vez em que uma mulher assumiu o Poder no Brasil “foi para
            fazer do Poder um instrumento de justiça. A Princesa Isabel que aboliu a escravatura”.
            A jurista lembrou ainda que antigamente a discriminação contra a mulher era muito maior, a começar pelas
            próprias universidades que não permitiam o ingresso de mulheres. A carta de alforria das mulheres
            brasileiras, em sua opinião, foi justamente a abertura das universidades. Ela lembrou, a propósito, que a
            primeira médica brasileira teve de se formar no estrangeiro.
            Hoje, o panorama mudou. Nas profissões liberais, o êxito das mulheres, segundo disse, é “absoluto”.</p>
        <p> – Temos maior número de mulheres exercendo profissões liberais que os próprios Estados Unidos. Talvez
            tenhamos o maior número do mundo – afirmou. A mulher tem tido êxito: no trabalho individual e na
            reformulação da vida social, mas em termos de participação política, só tem tido fracassos – assinalou –
            indagando em seguida: “Será que a mulher brasileira é menos capaz que as mulheres de outros países?”
            Para reforçar seus argumentos, a, conferencista leu os resultados de uma pesquisa que elaborou a pedido da
            Unesco, demonstrando que no Brasil “é quase igual o número mulheres e de homens como força de trabalho”.
            Sendo que depois dos 70 anos, há maior número de mulheres que de homens trabalhando.
            Ela se referiu também à desconfiança existente no Judiciário e no Executivo em relação às mulheres,
            advertindo que “enquanto o Brasil fizer essa discriminação, continuará dando com a cabeça sem encontrar o
            seu caminho”.</p>
        <p>Quanto ao Itamarati, especificamente, a jurista fez um histórico, dizendo que até o ano de 1918 era
            formalmente proibido o acesso de mulheres à carreira diplomática, para ressaltar no final que a
            discriminação “existiu e ainda existe. As mulheres do Itamarati vão até o posto de conselheiro, mas daí não
            passam para as Embaixadas”.</p>
    </div>
    <div class="white-row">
        <h3>Luta de <strong>Maria Rita</strong> já dura meio século</h3>
        <p>Filha de operários sergipanos, 73 anos, Maria Rita formou-se em Direito na Universidade Federal da Bahia, no
            ano de 1926. Foi a terceira mulher, na história do Estado da Bahia, a conseguir a façanha. A sua turma na
            faculdade era composta exclusivamente de homens.</p>
        <p>Concluído o curso, voltou para Sergipe onde exerceu a Procuradoria-Geral do Estado. Foi professora da
            Universidade do Brasil, por concurso, e Juíza Federal no antigo Estado da Guanabara, entre 1968 e 1972,
            quando se aposentou. Atualmente dirige um conceituado escritório de advocacia localizado na Rua da Quitanda,
            no Rio de Janeiro.</p>
        <p>Como advogada – e também como jornalista, profissão que exerceu até 1967 – Maria Rita se destacou por sua
            luta em defesa dos direitos das mulheres, ao lado da líder feminista Bertha Lutz. Nesta luta, ganhou nome
            nacional, chegando a ocupar a vice-presidência do 2º Congresso Feminista do Brasil, realizado em 1930.</p>
        <p>Na CPI da mulher, ela falou de improviso citando pessoas, datas e narrando acontecimentos relacionados com a
            história da liberação da mulher brasileira com uma precisão que impressionou a todos (três senadores e três
            deputados, alguns jornalistas e curiosos) que assistiram ao seu depoimento.</p>
        <p>Ao final da palestra, quando o senador Heitor Dias (Arena-BA) afirmou que não havia mais discriminação contra
            a mulher, tanto que o homem geralmente a coloca “num altar”, Maria Rita interrompeu-o com um sonoro
            “discordo”.</p>
        <p>Na hora dos cumprimentos, ela teria oportunidade de esclarecer ao senador baiano que “é justamente esta
            história de colocar a mulher num altar, que vem nos desgraçando”.</p>
    </div>
    <div class="white-row">
        <h3><strong>Dra. Maria Rita Soares de Andrade,</strong> Jurista</h3>
        <p>Sergipana, filha de pais humildes (Manuel José Soares de Andrade e D. Filomena) que, no entanto, conseguiram
            um respeitado lugar ao sol, a Dra. Maria Rita Soares de Andrade, aracajuense, fez o curso primário no Grupo
            Gal. Siqueira de Menezes, o secundário no Atheneu Sergipense e em 1922 foi aprovada no vestibular da
            Faculdade de Direito, hoje da UFBa, sendo a única moça da instituição em seu tempo.</p>
        <p>Foram professores seus alguns nomes como os de Virgillio de Lemos, Homero Pires, Filinto Bastos, Bernardino
            de Souza Marques dos Reis, Prisco Paraíso, Carneiro da Rocha, Rodrigues Dórea, Garcez Fróes – todos eles
            etiquetando ruas e avenidas de Salvador, o que daria ideia da eminência do ateniense conjunto de professores
            pensadores da época.</p>
        <p>Entre seus colegas de turma estão os Drs. Mário Felix Dias, Tancredo Teixeira, Otaviano Moniz Barreto, João
            Seabra Veloso, José Vicente Tourinho, Aníbal Sampaio e João Caldas Conte.</p>
        <p>Infelizmente, não se podem alinhar muitos elementos do curriculum vitaeda Dra. Maria Rita: são quatro folhas
            datilografadas. Baste-nos, porém, a menção de ter sido professora de Literatura no Atheneu Sergipense, Juíza
            de Direito da Guanabara, depois Juíza Federal (cargo em que se aposentou) e professora da (antiga)
            Universidade do Brasil – tudo por concurso. Foi advogada de nomes como Otávio Mangabeira, Armando Sales de
            Oliveira, Almirantes Amorim do Valle e Pena Boto, Café Filho, Osvaldo Cordeiro de Farias, Mal. Ademar de
            Queiroz, Castelo Branco e Brig. Eduardo Gomes – entre alguns.</p>
        <p>A relação de cargos e funções exercida, congressos e conferências a que compareceu (e ofereceu teses
            aprovadas) e trabalhos publicados é assombrosa.</p>
        <p>Como se tudo isso fosse pouco, a Dra. Maria Rita foi indicada, pelo Ministério das Relações Exteriores, em
            lista tríplice (que encabeça), juntamente com a poetisa Maria S. Albuquerque e a Sra. Leda Collor de Melo,
            para substituir a Dra. Bertha Lutz na Comissão Interamericana de Mulheres, Organização dos Estados
            Americanos (OEA).</p>
    </div>
    <div class="white-row">
        <h3><strong>Maria Rita Soares de Andrade </strong> – Uma Feminista Convicta Sempre Cercada de Amigos e Trabalho
        </h3>
        <p>"Teve vatapá, caruru, frigideiras de aratu e de caranguejo, sem falar em peru cortado em fatias e doces em
            quantidade para encher compoteiras e mais compoteiras. Os vestígios da festa que comemorou os 80 anos da
            juíza sergipana Maria Rita Soares de Andrade, advogada que já na década de 20 impunha sua presença como
            mulher e jurista, podem ser detectados com facilidade no pátio do casarão de Santa Teresa, onde ela mora em
            companhia de pelo menos mais dez pessoas, entre parentes e empregados.</p>
        <p>– Aqui em casa ninguém morre de solidão – ela garante, coerente, sólida, convivendo até hoje com “a miséria
            humana em todos os sentidos”, que é como ela define a Advocacia. E extraindo dessa convivência sua força.
            Corbeilles de rosas meio fenecidas, copos de papel e uma mesa farta, esbanjando as sobras da comemoração,
            falam da noite em que ela recebeu os muitos amigos, entre eles o advogado Sobral Pinto e Milton Santos
            Magarão, responsável pela missa rezada na mesma terça-feira, na igreja do Mosteiro de São Bento. Por toda a
            parte, nos restos de festa, coleção de barro organizada e por isso mesmo fazendo contraste, um pouco da
            maneira de Maria Rita administrar sua vida. Sem apego às aparências, mas atenta a tudo.</p>
        <p>Feminista convicta, “vanguardeira”, desde os tempos de Aracaju que a viu recém-formada e dona de uma revista
            chamada Renovação, Maria Rita Soares de Andrade veio para o Rio com 34 anos, na esteira do noivo, o poeta
            João Passos Cabral. No bolso, trazia apresentação do presidente da Ordem dos Advogados de sua terra, para
            vários advogados atuantes na capital. Não usou nenhuma. Preferiu lecionar, no Colégio Pedro II e no Colégio
            da Universidade do Brasil. E pouco depois, abrir um escritório com “outras duas Marias”: Maria Luiza
            Bittencourt e Maria Alexandrina Ferreira Chaves, na rua da Quitanda. “Clínica geral” em Advocacia, porque
            “especialidade é uma coisa monótona que só serve para dar segurança (a quem é inseguro) e clientela certa”.
            Maria Rita tem, porém, suas preferências:</p>
        <p>– Eu gostava muito de crimes políticos, um setor que anda agora meio pobre – diz. Irônica, sagaz, Maria Rita
            trabalhou na defesa dos “meninos da Aeronáutica”, que organizaram o movimento de Aragarças. Defendeu o
            Almirante Amorim do Vale e o então Tenente-Coronel Antonio Carlos de Andrade Serpa, acusados de resistir ao
            General Lott. Mergulhou nas prisões da ditadura de Vargas para conseguir habeas-corpus para clientes que
            jamais lhe pagariam honorários.</p>
        <p>–– Nunca ganhei honorários por causas políticas. O que fiz foi feito por idealismo.
            Entusiasta da condição feminina, Maria Rita Soares de Andrade confessa que se sente satisfeita ao ver, hoje,
            o Fórum “enfeitado” por mulheres. Uma das primeiras advogadas de Aracaju e do Rio, ela colaborou muitos anos
            com o Jornal do Brasil, não hesitando em expor suas posições políticas. Udenista radical, que combateu
            Getúlio toda vida, não milita mais, mas tem opiniões firmadas sobre as mudanças que as leis e a política do
            país vêm sofrendo. Lamenta a descaracterização do mandado de segurança e do habeas-corpus. Lamenta a
            supressão de eleições diretas.</p>
        <p>– Mas não acho que as eleições diretas sejam panaceias para todos os nossos males. Elas serviriam para educar
            o povo, que só no exercício do voto pode aprender. Mas enquanto não acabarem com currais eleitorais, que
            extraviam urnas ou as substituem, a eleição direta não vai adiantar nada.</p>
        <p>Sentada à sua escrivaninha de trabalho, instalada num escritório em que livros e pastas se amontoam, velados
            por uma estátua da Justiça vendada e segurando a espada, mas sem balança, Maria Rita é objetiva. Conseguiu
            colocar a primeira mulher no Itamarati: Sandra Cordeiro de Mello. Conseguiu, na vida pessoal, sublimar a
            morte de Passos Cabral, um homem a quem se dedicou tão integralmente que não pôde substituí-lo. Aos 80 anos,
            seu telefone continua tocando sem parar. Juíza aposentada, exercendo funções de advogada, atende a quem a
            solicita, voz mansa, pensamento firme. Fala pouco sobre seus tempos mais difíceis, em que o dinheiro era
            pouco, confessa que hoje ainda teria coragem de bancar outra revista como aquela Renovação, da década de 30.
            E resume as vitórias femininas numa, que julga principal:</p>
        <p>– O acesso à Universidade. De lá as mulheres tiveram acesso às profissões liberais e, consequentemente,
            independência econômica e a possibilidade de interferir no momento atual. A universidade foi mais importante
            do que a conquista do voto feminino".</p>
    </div>
</section>