<section class="container text-center" style="margin-top:45px">
    <h1 class="text-center">
        <strong>Soares de Andrade</strong> advogados
        <span class="subtitle">Fundado em 1930.</span>
    </h1>
    <p class="lead" style="text-align: justify;">Nossa vocação é destinada em especial a satisfazer plenamente nossos clientes com eficiência, segurança, ética e segredo profissional, alicerçado com profissionais qualificados e constantemente aprimorados, equipados e informatizados que possibilita o acompanhamento processual ou arbitral online.
        O escritório foi idealizado para prestar uma advocacia personalíssima, verdadeiramente artesanal, pautada nos princípios da honestidade, sinceridade e combatividade. Postura que exige a presença e a dedicação integral do advogado, não havendo espaço para "terceirizações".
        Comprometidos com a transparência e confiabilidade em nossos relacionamentos, procuramos manter nossos clientes atualizados sobre todo o andamento de seus processos, oferecendo ainda infra-estrutura informatizada a qual permite ao interessado o acompanhamento aproveitando a facilidade proporcionada pela internet.
</p><p class="lead" style="text-align: justify;">
        O escritório tem sua especialidade na advocacia criminal, atuando tanto na esfera federal como na justiça estadual. Contudo, possui experiência nas áreas de direito de família, órfãos e sucessões, responsabilidade civil, cartas rogatória além de homologação de execução de sentenças estrangeiras.
        Fundamentados na Lei, na Doutrina e na Jurisprudência atendemos às necessidades de nossos clientes de maneira ágil e ética. Tradição, seriedade e dedicação são os pilares que norteiam o trabalho do escritório, nosso maior patrimônio, o qual fazemos questão absoluta de preservar.</p>
</section>


