<section class="container text-center" style="margin-top:45px">
    <h1 class="text-center">
        <strong>Soares de Andrade</strong> advogados
        <span class="subtitle">Fundado em 1930.</span>
    </h1>
    <p class="lead" style="text-align: justify;">Nossa vocação é destinada em especial a satisfazer plenamente nossos clientes com eficiência, segurança, ética e segredo profissional, alicerçado com profissionais qualificados e constantemente aprimorados, equipados e informatizados que possibilita o acompanhamento processual ou arbitral online.
        O escritório foi idealizado para prestar uma advocacia personalíssima, verdadeiramente artesanal, pautada nos princípios da honestidade, sinceridade e combatividade. Postura que exige a presença e a dedicação integral do advogado, não havendo espaço para "terceirizações".
        Comprometidos com a transparência e confiabilidade em nossos relacionamentos, procuramos manter nossos clientes atualizados sobre todo o andamento de seus processos, oferecendo ainda infra-estrutura informatizada a qual permite ao interessado o acompanhamento aproveitando a facilidade proporcionada pela internet.
</p><p class="lead" style="text-align: justify;">
        O escritório tem sua especialidade na advocacia criminal, atuando tanto na esfera federal como na justiça estadual. Contudo, possui experiência nas áreas de direito de família, órfãos e sucessões, responsabilidade civil, cartas rogatória além de homologação de execução de sentenças estrangeiras.
        Fundamentados na Lei, na Doutrina e na Jurisprudência atendemos às necessidades de nossos clientes de maneira ágil e ética. Tradição, seriedade e dedicação são os pilares que norteiam o trabalho do escritório, nosso maior patrimônio, o qual fazemos questão absoluta de preservar.</p>
</section>


<div class="container">
    <hr class="half-margins" /><!-- hr line -->
</div>


<!-- FEATURED BOXES 3 -->
<section class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="featured-box nobg border-only">
                <div class="box-content">
                    <i class="fa fa-users"></i>
                    <h4>For Everyone</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box nobg border-only left-separator">
                <i class="fa fa-book"></i>
                <h4>Well Documented</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box nobg border-only left-separator">
                <i class="fa fa-trophy"></i>
                <h4>For Your Business</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured-box nobg border-only left-separator">
                <i class="fa fa-cogs"></i>
                <h4>Highly Customizable</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>
<!-- /FEATURED BOXES 3 -->


<div class="container">
    <hr class="no-lines" /><!-- hr line -->
</div>


<!-- CAROUSEL -->
<section class="container">
    <div class="row">

        <div class="col-md-6">
            <h2>Passion, precision and simplicity</h2>
            <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing</a> elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, <strong>commodo a sodales sed</strong>, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, <strong>iaculis ac massa</strong>.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et <a href="#">lacus neque</a>. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>

            <!-- divider -->
            <div class="divider styleColor">
                <i class="fa fa-leaf"></i>
            </div>

            <!-- carousel -->
            <div class="owl-carousel" data-plugin-options='{"items": 3, "singleItem": false, "pagination": false, "autoPlay": true}'>
                <div>
                    <img class="img-responsive" src="images/demo/brands/1.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/2.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/3.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/4.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/5.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/6.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/7.jpg" alt="">
                </div>
                <div>
                    <img class="img-responsive" src="images/demo/brands/8.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                <div>
                    <img alt="" class="img-responsive" src="images/demo/test_2.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive" src="images/demo/test_1.jpg">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /CAROUSEL -->


<!-- CALLOUT -->
<div class="bs-callout margin-top text-center styleBackground noradius">
    <h3>Welcome to <strong>Atropos</strong> Multipurpose <strong>template</strong>.
        <a href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527" target="_blank" class="btn btn-primary btn-lg">Buy Now!</a></h3>
</div>
<!-- /CALLOUT -->



<!-- PARALLAX -->
<section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('images/demo/parallax.jpg');">
    <span class="overlay"></span>

    <div class="container">

        <div class="row">
            <!-- left content -->
            <div class="col-md-7 animation_fade_in">
                <h2>Atropos <strong>Multipurpose</strong></h2>
                <p class="lead">
                    Atropos is a multipurpose template for business or portfolio website. It is fully responsive design ready for PC, Tablet and Mobile.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>
                <p>
                    <small><em> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</em></small>
                </p>

                <a class="btn btn-primary btn-lg" href="index-more.html">Tell Me More</a>
            </div>

            <!-- right image -->
            <div class="col-md-5 animation_fade_in">
                <img class="visible-md visible-lg img-responsive pull-right" src="images/demo/desktop2.png" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- PARALLAX -->