<header id="topHead" class="fixed">
			<div class="container">

				<!-- PHONE/EMAIL -->
				<span class="quick-contact pull-left">
					<i class="fa fa-phone"></i> +55 (21) 2533-0468 &bull;
					<a class="hidden-xs" href="mailto:jpinto@soaresdeandrade.com.br">jpinto@soaresdeandrade.com.br</a>
				</span>
				<!-- /PHONE/EMAIL -->



				<!-- SIGN IN -->
				<div class="pull-right nav signin-dd">
					<a id="quick_sign_in" href="page-signin.html" data-toggle="dropdown"><i class="fa fa-users"></i><span class="hidden-xs"> Login</span></a>
					<div class="dropdown-menu" role="menu" aria-labelledby="quick_sign_in">

						<h4>Login</h4>
						<form action="page-signin.html" method="post" role="form">

							<div class="form-group"><!-- email -->
								<input required type="email" class="form-control" placeholder="email">
							</div>

							<div class="input-group">

								<!-- password -->
								<input required type="password" class="form-control" placeholder="Senha">
								
								<!-- submit button -->
								<span class="input-group-btn">
									<button class="btn btn-primary">Logar</button>
								</span>

							</div>

							<div class="checkbox"><!-- remmember -->
								<label>
									<input type="checkbox"> Lembrar-me &bull; <a href="page-signin.html">Esqueceu a senha?</a>
								</label>
							</div>

						</form>

						<hr />
						
						<a href="#" class="btn-facebook fullwidth radius3"><i class="fa fa-facebook"></i> Conectar com Facebook</a>
						<a href="#" class="btn-google-plus fullwidth radius3"><i class="fa fa-google-plus"></i> Conectar com Google</a>

						<p class="bottom-create-account">
							<a href="page-signup.html">Criar conta</a>
						</p>
					</div>
				</div>
				<!-- /SIGN IN -->

				<!-- CART MOBILE BUTTON
				<a class="pull-right" id="btn-mobile-quick-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a>
				<!-- CART MOBILE BUTTON -->


			</div>
		</header>