<div class="navbar-collapse nav-main-collapse collapse pull-right">
    <nav class="nav-main mega-menu">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
            <li class="">
                <a class="dropdown-toggle" ui-sref="quemSomos">
                    Quem Somos <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li class="">
                <a class="dropdown-toggle" ui-sref="areaAtuacao">
                    Áreas de atuação <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li class="dropdown ">
                <a class="dropdown-toggle" href="#">
                    Cadastro <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="noticiaLista">Notícias</a></li>
                </ul>
            </li>

        </ul>
    </nav>
</div>