<footer>

	<!-- copyright , scrollTo Top -->
	<div class="footer-bar">
		<div class="container">
			<span class="copyright">Soares de Andrade Advogados.</span>
			<a class="toTop" href="#topNav">Topo <i class="fa fa-arrow-circle-up"></i></a>
		</div>
	</div>
	<!-- copyright , scrollTo Top -->


	<!-- footer content -->
	<div class="footer-content">
		<div class="container">

			<div class="row">


				<!-- FOOTER CONTACT INFO -->
				<div class="column col-md-4">
					<h3>Contato</h3>

					<p class="contact-desc">
					</p>
					<address class="font-opensans">
						<ul>
							<li class="footer-sprite address">
								Av. Erasmo Braga , 299 , Gr 604<br>
								Centro<br>
								CEP: 20020-000<br>
								Rio de Janeiro / RJ
							</li>
							<li class="footer-sprite phone">
								Telefone: +55 (21) 2533-0468
							</li>
							<li class="footer-sprite phone">
								Telefone: +55 (21) 2215-4993
							</li>
							<li class="footer-sprite email">
								<a href="mailto:jpinto@soaresdeandrade.com.br">jpinto@soaresdeandrade.com.br</a>
							</li>
						</ul>
					</address>

				</div>
				<!-- /FOOTER CONTACT INFO -->


				<!-- FOOTER LOGO -->
				<div class="column logo col-md-4 text-center">
					<div class="logo-content">
						<img class="" src="images/logo_trans.png" style="height: 150px;" alt=""/>
						<h4>Soares de Andrade</h4>
					</div>
				</div>
				<!-- /FOOTER LOGO -->


				<!-- FOOTER LATEST POSTS -->
				<div class="column col-md-4 text-right">
					<h3>Áreas de atuação</h3>

					<div class="post-item">
						<small>ADVOCACIA CRIMINAL</small>
						<!-- 	<h3><a ui-sref="areaAtuacao">Atuamos nas áreas federal e estadual nos crimes do colarinho branco, lavagem de dinheiro ...</a></h3>-->
                        </div>
                        <div class="post-item">
							<small>DIREITO DE FAMÍLIA</small>
                         <!--    <h3><a ui-sref="areaAtuacao">Separação consensual e litigiosa, divórcio, investigação de paternidade, alimentos e partilha.</a></h3>-->
                        </div>
                        <div class="post-item">
							 <small>ÓRFÃOS E SUCESSÕES</small>
                         <!--    <h3><a ui-sref="areaAtuacao">Inventários e arrolamentos.</a></h3>-->
                        </div>
                        <div class="post-item">
							 <small>DIREITO DO TRABALHO</small>
                        <!--     <h3><a ui-sref="areaAtuacao">Defesa trabalhista, reclamatória e recursos.</a></h3>-->
                        </div>

                        <a ui-sref="areaAtuacao" class="view-more pull-right">Ver mais <i class="fa fa-arrow-right"></i></a>



                    </div>
                    <!-- /FOOTER LATEST POSTS -->

			</div>

		</div>
	</div>
	<!-- footer content -->

</footer>